modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["node", "--enable-source-maps", "artifacts/api-server/dist/index.mjs"]
build = ["bash", "-c", "pnpm install --frozen-lockfile && pnpm --filter @workspace/bloum-cash run build && pnpm --filter @workspace/api-server run build"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start API server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 BASE_PATH=/ pnpm --filter @workspace/bloum-cash run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start API server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3001 pnpm --filter @workspace/api-server run dev"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000
externalPort = 5000

[[ports]]
localPort = 3001
externalPort = 3002

[[ports]]
localPort = 3099
externalPort = 3001

[[ports]]
localPort = 4000
externalPort = 4200

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 18544
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
LOG_LEVEL = "info"
NODE_ENV = "development"
PAYDUNYA_SANDBOX = "false"
PAYDUNYA_STORE_NAME = "Bloum Cash"
PAYDUNYA_STORE_PHONE = "+22892299772"
ONESIGNAL_APP_ID = "ae2ed1b9-b544-49e9-a825-38d41202d58d"
APP_BASE_URL = "https://app.wendysapp.sbs"
PAYDUNYA_MASTER_KEY = "tClgCK2F-Pq5z-asuL-eLow-HmkFBvF4zf1m"
PAYDUNYA_PUBLIC_KEY = "live_public_5iV9b1wFJ0d6yq5YjPMGAFi3AGD"
PAYDUNYA_PRIVATE_KEY = "live_private_ly1cE55vom9Sad81K1AhU9IWsid"
PAYDUNYA_TOKEN = "QW2pxYXJMyAWRSlRAvUl"
GOMBOPLUS_PUBLIC_KEY = "BDn7KFqCYb4hHnF3d4pPNg==.Z0FBQUFBQnFJcjdBc3lHWUxheWhaRHNsY3B5eWpsSlhua0pQYnJGVkVhYjhUZEZqQjdPUEJmVHM5WC1HMkdQaU4tUEowc2V0QVdNOVNBTHVfYktPUlEyZWFQS21NTkZPZ2pkcHNKWXoxd2dVNkU1elljdGVoaW1SRWRial9IeHJoSzJlMGVaSUtRSlZxZmVJTTlrQlBmcExETHY4aWN4dm1WREVVNUVRVlE2Vm1wVVdOVmxnYXB0cDRXX1QzQnh1alR0eHFhN0p0UWRIaEhCSDhuXzZxVk4zb0E1N1ZlV2NRbWtrRTdXS2ZFZW5reU1ScGRpS3pHQT0=.OFu5vqfE_UY="
GOMBOPLUS_PRIVATE_KEY = "XBpZY2G8mlQFGCxMH2VudBPNFr8HHCYiwv-ib1lHzxsEnS7wNRbUlNowWRguYlauNFP8e_enUvEd-ZiCFgDl-Q=="
ONESIGNAL_API_KEY = "os_v2_app_vyxndonvire6tkbfhdkbeawvrxsjemvl2pwe3ovi2w2oappzt2xdhvuzbeeqd7ekpdhwn55xcao6pkyi2zrmwrmuhfv26ethpgtvjdq"
TELEGRAM_BOT_TOKEN = "8971087865:AAHuA3j7fwb9EUCFOAmP4myw9NZmhH9UToQ"
USER_JWT_SECRET = "781cc20c44c86339194bec2c6cd7be1377e84ee64d0e42b2b705ca650091b79889fe7dc25978fe3fb3458745a932cf36"
ADMIN_JWT_SECRET = "dd0e0756129adfd1c12ba510ff437d25c59d27f2c0b176984c0c007abfb299d64a7acdcdcbac5b3ce12dfc3c2e6e1471"
