modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start API server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 BASE_PATH=/ pnpm --filter @workspace/bloum-cash run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start API server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=3001 pnpm --filter @workspace/api-server run dev"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3001
externalPort = 3002

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3003

[[ports]]
localPort = 18544
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PAYDUNYA_MASTER_KEY = "tClgCK2F-Pq5z-asuL-eLow-HmkFBvF4zf1m"
PAYDUNYA_PUBLIC_KEY = "live_public_5iV9b1wFJ0d6yq5YjPMGAFi3AGD"
PAYDUNYA_PRIVATE_KEY = "live_private_ly1cE55vom9Sad81K1AhU9IWsid"
PAYDUNYA_TOKEN = "QW2pxYXJMyAWRSlRAvUl"
SUPABASE_DATABASE_URL = "postgresql://postgres.dtnyxkuzjbwyqyyooutb:qdhHvceMFn6xNpGA@aws-1-eu-central-1.pooler.supabase.com:6543/postgres"
ADMIN_JWT_SECRET = "03172ad1a0243e5645f469dcb6cc212f92ad6a1f74f2312365a23a77c60d3d1f"
USER_JWT_SECRET = "5773e5791f4447fad51d212aaecea702d127ac19a227bd2c4e99a71e8ac7ad0e"
ONESIGNAL_API_KEY = "os_v2_app_vyxndonvire6tkbfhdkbeawvrxsjemvl2pwe3ovi2w2oappzt2xdhvuzbeeqd7ekpdhwn55xcao6pkyi2zrmwrmuhfv26ethpgtvjdq"
ONESIGNAL_APP_ID = "ae2ed1b9-b544-49e9-a825-38d41202d58d"
